.DS_Store
.idea/
.vscode/
*.iml
.docker/
target/
.project
.classpath
.settings/
pom.xml.versionsBackup
pom.xml.releaseBackup
pom.xml.tag
pom.xml.next
dependency-reduced-pom.xml
tmp/
release.properties

src/main/resources/jdd

.claude

/native-image-config*/
/providers/

/*.json
/test*
/exports
