language: java

jdk:
  - oraclejdk8

services:
  - docker

# skip `mvn install` command
install: true

cache:
  directories:
  - .autoconf
  - $HOME/.m2

script:
  - mvn -Dkeycloak.version=$KEYCLOAK_VERSION --settings .travis/settings.xml clean verify -B -V

before_deploy:
  - echo $GPG_SECRET_KEY | base64 --decode | $GPG_EXECUTABLE --import
  - echo $GPG_OWNERTRUST | base64 --decode | $GPG_EXECUTABLE --import-ownertrust

deploy:
  -
    skip_cleanup: true
    provider: script
    script: /bin/bash .travis/docker_push.sh
    on:
      tags: true
      # matches: vX.Y.Z, vX.Y.Z-A, vX.Y.Z-A-B.C.D, vX.Y.Z-A-B.C.D-E
      condition: "$TRAVIS_TAG =~ ^v([[:digit:]]+\\.)+[[:digit:]]+(-[[:digit:]]+)?(-([[:digit:]]+\\.)+[[:digit:]]+(-[[:digit:]]+)?)?$"

env:
  matrix:
    - KEYCLOAK_VERSION=4.4.0.Final IS_LATEST=false
    - KEYCLOAK_VERSION=4.5.0.Final IS_LATEST=false
    - KEYCLOAK_VERSION=4.6.0.Final IS_LATEST=false
    - KEYCLOAK_VERSION=4.7.0.Final IS_LATEST=false
    - KEYCLOAK_VERSION=4.8.1.Final IS_LATEST=true
  global:
  - DOCKER_IMAGE_NAME=adorsys/keycloak-config-cli
  # encrypted docker hub credentials
  - secure: j4b0nnUHM6qX6P3ThsaUsYuuacr4Vj+1Ab44cyaTEjxAfgwOziQ3R564pJGfA5p/M6/Ach8OFQzFSJzEHsTub+OD+vtkaKnYStRSkRdftSO/c6RyvI1zI8KmndR+iN/duIDUgUMiaetSuqQ2G2DCIjS54qPOPNwDfSdPM7y2e/7dNMKqUfxXVlt8MDiy/d0gpi6+P0ELMwiRfxJToGyLN/Z9vhJfZR+heU1KN3JGmwjd9tC1ZdbfqsqqU7HwGJCUu3VZZ+5k1Yw3GJSNoD9ySsBtQk+qeH6sh1ww+19zITJn7hDUxQGVjaiaOm2Le3Jn6P5kcHWESnv9dGSiOQTsTXadtdeLZ7N7mdRwR0u+wQNoH998Q4FVhsLb1VqhwxEE0PO1nvd0RZRvtpOfkQS1wocr6NIyS2m/f9IZWgfswFeqk/m0tDG+ZA5XG2QJFSRj6Gy+Hj5Xe7vRr1F9QhOTuhGl+8uWgRpxCOFzxg5bDfQRk2LBhAWIb9NHxlCkmiKP/3ak8rs9TrHeIm5IBGyDcZJcft1d0czgmP+wRiRQm0/7xTjwQSdZsPrFrw6+HSMDsVcJ314msvV/hLLIuRXbYOjM8JOtRFcWYqTGSI4zRNuqS3wjdpf+1VSN4rNWJYNx8mEtcA1P+zK6V1cLTmIZPMaiNtb/Nl08l8TMZjd99Jc=
