version: '3'
services:
  keycloak:
    image: quay.io/keycloak/keycloak:${KEYCLOAK_VERSION}
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin123
      KEYCLOAK_LOGLEVEL: INFO
      ROOT_LOGLEVEL: INFO
    ports:
      - "8080:8080"
      - "8787:8787"
    command:
      - start-dev
      # FGAP V2 is enabled by default in Keycloak 26.2.0+, no flag needed
  keycloak-legacy:
    image: quay.io/keycloak/keycloak:${KEYCLOAK_VERSION}-legacy
    environment:
      KEYCLOAK_PASSWORD: admin123
      KEYCLOAK_USER: admin
      KEYCLOAK_LOGLEVEL: INFO
      ROOT_LOGLEVEL: INFO
    volumes:
      - ./providers/:/opt/jboss/keycloak/providers/
    ports:
      - "8080:8080"
      - "8787:8787"
    command:
      - "-c"
      - "standalone.xml"
      - "-Dkeycloak.profile.feature.admin_fine_grained_authz=enabled"
  openldap:
    image: osixia/openldap:1.5.0
    command:
      - --loglevel
      - info
    environment:
      DISABLE_CHOWN: "true"
      LDAP_LOG_LEVEL: "256"
      LDAP_DOMAIN: "example.org"
      LDAP_ADMIN_PASSWORD: "admin123"
      LDAP_READONLY_USER: "false"
      LDAP_TLS: "false"
      LDAP_RFC2307BIS_SCHEMA: "false"
      LDAP_SEED_INTERNAL_LDIF_PATH: /resources/
    ports:
      - "8389:389"
    volumes:
      - ./src/test/resources/embedded-ldap.ldif:/resources/embedded-ldap.ldif
  keycloak-config-cli:
    build: .
    image: adorsys/keycloak-config-cli:latest
    depends_on:
      - keycloak
    volumes:
      - ./contrib/example-config:/config
    environment:
      - keycloak.url=http://keycloak:8080
      - keycloak.user=admin
      - keycloak.password=admin123
      - keycloak.availability-check.enabled=true
      - spring.profiles.active=dev
      - import.cache.enabled=false
