site_name: kc-config-cli
site_url: https://adorsys.github.io/keycloak-config-cli/
theme:
  name: material
  features:
    - navigation.tabs
    - navigation.sections
    - toc.integrate
    - navigation.top
    - search.suggest
    - search.highlight
    - content.tabs.link
    - content.code.annotation
    - content.code.copy
  language: en
  palette:
    - scheme: default
      toggle:
        icon: material/toggle-switch-off-outline 
        name: Switch to dark mode
      primary: teal
      accent: purple 
    - scheme: slate 
      toggle:
        icon: material/toggle-switch
        name: Switch to light mode    
      primary: teal
      accent: lime

plugins:
  - social
  - search

extra:
  social:
    - icon: fontawesome/brands/github-alt
      link: https://github.com/adorsys
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/adorsys
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/in/adorsys/

nav:
  - Home:
      - Getting Started: index.md
      - Supported Features: supported-features.md
      - Import settings: import-settings.md
      - managed-resources: managed-resource.md
      - Redhat-sso compatibility: RedHat-SSO-compatibility.md
      - Skip Server Info: skip-server-info.md
      - Helm Chart: helm-chart.md
  - Use Cases:
      - Non-Master Realm Authentication: config/non-master-realm-authentication.md
      - Managing Built-in Client Roles: config/built-in-client-roles.md
      - Remote State Management: config/remote-state-management.md
      - Adding Multiple post.logout.redirect.uris: config/addind-multiple-post-logout-redirect-uris.md
      - Minimal Configurations From exported JSON: config/minimal-configuration.md
      - Authenticator configuration: config/Authenticator-Configuration.md
      - Environment Variable Substitution for JSON Arrays: config/environmental-variable-substitution-for-json-array.md
      - Setting up jsonschema in intelliJ: config/apply-jsonschema-in-intellij.md


markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - admonition
  - pymdownx.arithmatex:
      generic: true
  - footnotes
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.mark
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg

copyright: |
  &copy; 2024 <a href="https://github.com/adorsys" target="_blank" rel="noopener">Adorsys GmbH & Co. KG</a>
