<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />

    <springProfile name="! json-log">
        <property name="LOG_FILE" value="${LOG_FILE:-${LOG_PATH:-${LOG_TEMP:-${java.io.tmpdir:-/tmp}}}/spring.log}"/>
        <include resource="org/springframework/boot/logging/logback/file-appender.xml" />
        <root level="INFO">
            <appender-ref ref="CONSOLE" />
            <appender-ref ref="FILE" />
        </root>
    </springProfile>

    <springProfile name="json-log">
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LogstashEncoder">
                <customFields>{"app":"keycloak-config-cli"}</customFields>
            </encoder>
        </appender>
    </springProfile>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>

    <logger name="org.springframework" level="ERROR"/>
    <logger name="de.adorsys.keycloak.config" level="DEBUG"/>
    <logger name="de.adorsys.keycloak.config.provider.KeycloakImportProvider" level="WARN"/>
    <logger name="org.testcontainers" level="INFO"/>
    <logger name="com.github.dockerjava" level="WARN"/>
    <logger name="org.mockserver.log.MockServerEventLog" level="WARN"/>
    <logger name="sun.net.www.protocol.http.HttpURLConnection" level="ALL"/>
    <!--<logger name="org.apache.http.wire" level="DEBUG"/>-->
    <!--<logger name="de.adorsys.keycloak.config.util.CloneUtil" level="TRACE"/>-->
</configuration>
