---
name: CI

env:
  # https://github.com/actions/virtual-environments/issues/1499
  MAVEN_CLI_OPTS: '-ntp --batch-mode --errors --fail-at-end --show-version -Dhttp.keepAlive=false -Dmaven.wagon.http.pool=false -Dmaven.wagon.httpconnectionManager.ttlSeconds=120 -Dstyle.color=always'
  TESTCONTAINERS_RYUK_DISABLED: 'true'
  CT_CHART_DIRS: 'contrib/charts/'
  CT_BUILD_ID: '${{ github.run_id }}'

on:
  pull_request:
  push:
    branches:
      - main
    paths-ignore:
      - 'README.md'
      - 'CHANGELOG.md'

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    strategy:
      fail-fast: false
      matrix:
        env:
          - KEYCLOAK_VERSION: 14.0.0
          - KEYCLOAK_VERSION: 15.1.1
          - KEYCLOAK_VERSION: 16.1.1
          - KEYCLOAK_VERSION: 17.0.0
    steps:
      - uses: actions/checkout@v2.4.0
        with:
          fetch-depth: 0

      - name: Setup java
        uses: actions/setup-java@v2
        with:
          distribution: 'temurin'
          java-version: 17

      - uses: actions/cache@v2.1.7
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ matrix.env.KEYCLOAK_VERSION }}-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-${{ matrix.env.KEYCLOAK_VERSION }}

      - name: Build & Test
        run: ./mvnw ${MAVEN_CLI_OPTS} -Dkeycloak.version=${{ matrix.env.KEYCLOAK_VERSION }} clean verify -Pcoverage

      - uses: actions/upload-artifact@v2
        with:
          name: keycloak-config-cli-${{ matrix.env.KEYCLOAK_VERSION }}.jar
          path: target/keycloak-config-cli.jar

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v2.1.0
        with:
          file: "${{ github.workspace }}/target/site/jacoco/jacoco.xml"
          fail_ci_if_error: true

  build-pom-version:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    strategy:
      fail-fast: false
      matrix:
        java: [8, 11, 17]
    steps:
      - uses: actions/checkout@v2.4.0

      - name: Setup java
        uses: actions/setup-java@v2
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.java }}

      - uses: actions/cache@v2.1.7
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-${{ matrix.java }}-maven-build-pom-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-${{ matrix.java }}-maven-build-pom

      - name: Build & Test
        run: >-
          ./mvnw ${MAVEN_CLI_OPTS} clean verify
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

  build-legacy:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    strategy:
      fail-fast: false
      matrix:
        env:
          - KEYCLOAK_VERSION: 17.0.0
    steps:
      - uses: actions/checkout@v2.4.0

      - name: Setup java
        uses: actions/setup-java@v2
        with:
          distribution: 'temurin'
          java-version: '17'

      - uses: actions/cache@v2.1.7
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-keycloak-legacy-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-keycloak-legacy

      - name: Build & Test
        run: ./mvnw ${MAVEN_CLI_OPTS} -Dkeycloak.version=${{ matrix.env.KEYCLOAK_VERSION }} -Dkeycloak.dockerTagSuffix=-legacy clean verify


  lint-other-files:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v2.4.0

      - name: Setup java
        uses: actions/setup-java@v2
        with:
          distribution: 'temurin'
          java-version: 17

      - uses: actions/cache@v2.1.7
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-dockerfile-lint-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-dockerfile-lint

      - name: Lint .github/workflows/*.yaml files
        uses: ibiqlik/action-yamllint@v3.1
        with:
          strict: true
          file_or_dir: .github/workflows/
          config_data: |
            extends: default
            rules:
              line-length: disable
              truthy:
                check-keys: false

      - name: Build keycloak-config-cli
        run: ./mvnw clean package -DskipTests

      - name: Test Dockerfile
        run: docker build -t adorsys/keycloak-config-cli .

      - name: Fetch history
        run: git fetch --prune --unshallow

      - name: Set up Helm
        uses: azure/setup-helm@v2.0
        with:
          version: v3.4.0

      - uses: actions/setup-python@v3
        with:
          python-version: 3.7

      - uses: actions/cache@v2
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-chart-testing-action
          restore-keys: |
            ${{ runner.os }}-pip-chart-testing-action

      - name: Set up chart-testing
        uses: helm/chart-testing-action@v2.2.0

      - name: Run chart-testing (lint)
        run: ct lint --config contrib/charts/ct.yaml
